<div class="body">
    <p>register works!</p>
    <app-input type='email' label='E-mail' placeholder='Ex: email@email.com'
               (emitter)="inputReturn($event, 'email')">
    </app-input>
    <app-input type='phone' label='Phone' placeholder='Ex: (123) 456-7890'
               (emitter)="inputReturn($event, 'phone')">
    </app-input>
    <app-input type='city' label='City' placeholder='Ex: San Francisco'
               (emitter)="inputReturn($event, 'city')">
    </app-input>
    <app-input type='password' label='Password' placeholder='Passw0rd!'
               (emitter)="inputReturn($event, 'password')">
    </app-input>
    <app-input type='password' label='Password confirmation' placeholder='Passw0rd!'
               (emitter)="inputReturn($event, 'password_confirmation')"
               [confirmValue]="form ? form.password.value : ''">
    </app-input>

    <button matButton (click)="submit()">Submit</button>
</div>