<div class="body">
    <h2>Personal Info</h2>
    <app-input type='email' label='E-mail' placeholder='Ex: email@email.com'
               [initialValue]='form.email.value'
               (emitter)="inputReturn($event, 'email')">
    </app-input>
    <app-input type='phone' label='Phone' placeholder='Ex: (123) 456-7890'
               [initialValue]='form.phone.value'
               (emitter)="inputReturn($event, 'phone')">
    </app-input>
    <app-input type='city' label='City' placeholder='Ex: San Francisco'
               [initialValue]='form.city.value'
               (emitter)="inputReturn($event, 'city')">
    </app-input>
    <app-input type='password' label='Password' placeholder='Ex: Passw0rd!'
               [initialValue]='form.password.value'
               (emitter)="inputReturn($event, 'password')">
    </app-input>
    <app-input type='password' label='Password confirmation' placeholder='Ex: Passw0rd!'
               [initialValue]='form.passwordConfirmation.value'
               (emitter)="inputReturn($event, 'passwordConfirmation')"
               [confirmValue]="form ? form.password.value : ''">
    </app-input>
    <h2>Company Info</h2>
    <app-input type='company-name' label='Company Name' placeholder='Ex: Apple'
               (emitter)="inputReturn($event, 'company', ['name'])">
    </app-input>
    <app-input type='company-area' label='Company Area' placeholder='Ex: Software Engineering'
               (emitter)="inputReturn($event, 'company', ['area'])">
    </app-input>
    <h2>Skills</h2>
    <div class="skill-input-container" *ngFor='let skill of form?.skills; let i = index;'>
        <app-input type='skill' label='Skill' placeholder='Ex: Angular'
                   (emitter)="inputReturn($event, 'skills', [i])">
        </app-input>
        <div class="remove-button" (click)="removeSkill(i)">
            Remove
        </div>
    </div>
    <button mat-raised-button style="margin-bottom: 10px;" color='accent' (click)='addNewSkill()'>Add new skill</button>
    
    <h2>Languages</h2>
    <div class="languages-input-container" *ngFor='let languages of form?.languages; let i = index;'>
        <div class="language-input-container">
            <app-input type='language' label='Language' placeholder='Ex: English'
                       (emitter)="inputReturn($event, 'languages', [i, 'name'])">
            </app-input>
            <div class="remove-button" (click)="removeLanguages(i)">
                Remove
            </div>
        </div>
        <div class="language-input-container">
            <app-input type='language-level' label='Speaking Level(from: 1 to 5)' placeholder='Ex: 3'
                       (emitter)="inputReturn($event, 'languages', [i, 'speaking'])">
            </app-input>
        </div>
        <div class="language-input-container">
            <app-input type='language-level' label='Writing Level(from: 1 to 5)' placeholder='Ex: 3'
                       (emitter)="inputReturn($event, 'languages', [i, 'writing'])">
            </app-input>
        </div>
        <div class="language-input-container">
            <app-input type='language-level' label='Reading Level(from: 1 to 5)' placeholder='Ex: 3'
                       (emitter)="inputReturn($event, 'languages', [i, 'reading'])">
            </app-input>
        </div>
        <div class="language-input-container">
            <app-input type='language-level' label='Listening Level(from: 1 to 5)' placeholder='Ex: 3'
                       (emitter)="inputReturn($event, 'languages', [i, 'listening'])">
            </app-input>
        </div>
    </div>
    <button mat-raised-button style="margin-bottom: 10px;" color='accent' (click)='addNewLanguage()'>Add new language</button>

    <button mat-raised-button color='primary' [disabled]='this.form?.hasError()' (click)='submit()'>Submit</button>
</div>