.real-input {
    min-height: 26px;
  }
  
  .example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }
  .label {
    color: #184290;
    font-size: 20px;
    font-weight: 400;
  }
  
  .mat-icon {
    font-size: 20px;
  }
  .show-password-icon {
    color: #184290;
  }
  .error-icon {
    color: #cf2323;
  }