.input-container {
  display: block;

  width: 90%;
  height: 53px;
  margin: 10px auto;
  position: relative;
  transition: max-height 0.5s linear,
              min-height 0.5s linear;
  .header-placeholder {
    z-index: 99;
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 10px;
    transition: opacity 0.25s linear;
  }
  .input {
    --padding-top: 18px;
    background: #dddddd;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom: solid black 1px;
    width: 100%;
    --padding-start: 10px;
  }

  .input-error {
    border-bottom-color: red;
  }

  .error {
    color: red;
    font-size: 12px;
    transition: 0.5s linear;
  }
}

.fade-in {
	opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 0.5s;
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

// .fade-out {
// 	opacity: 1;
// 	animation-name: fadeOutOpacity;
// 	animation-iteration-count: 1;
// 	animation-timing-function: ease-in;
// 	animation-duration: 2s;
// }

// @keyframes fadeOutOpacity {
// 	0% {
// 		opacity: 1;
// 	}
// 	100% {
// 		opacity: 0;
// 	}
// }